<h1> <%= @restaurant.name %> </h1>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li> <%= review.rating %> stars! - <%= review.content %> </li>
  <% end %>
</ul>

<%= link_to "Back", restaurants_path %>

<%= render "reviews/new", restaurant: @restaurant %>
